*{
    padding: 0;
    margin: 0;
}


.container{
    display: block;
    max-width: 1200px;
    margin: 0 auto;

}


/*top部分，主要难点：
1：如何将h4标签旁边嵌入小图标
2：由于高度塌陷，设置背景色失效，解决办法，经过搜索清除浮动*/

.top{

    background: #000;
    height: 30px/*为何设置成百分比，失效：比如10%，设置padding-top无效*/


}

/*嵌套了一层div class=cont-text,不然浮动后，顺序相反*/
.cont-text > *{
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
    padding-left: 5px;
    text-align: center;


}
.cont-right{
    float: right;
}
