* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
html {
  font-size: 48px !important;
}
#wrap {
  height: 100%;
  background: #eee;
}
#headerTop {
  height: 2rem;
  background: black;
}
/*header������Զ�λ��Ϊ�˷���mask���۵�����ʾ*/
header {
  position: absolute;
  background: black;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
#logo {
  width: 3.55555556rem;
  height: 1.3037037rem;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem 0.25185185rem;
}
#logo img {
  width: 100%;
}
#menBtn {
  display: inline-block;
  width: 1.91111111rem;
  height: 2rem;
  background: url("../img/menuBtn.png") no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
}
.menuBtn_clos {
  background-position: center 0.23703704rem !important;
}
.menuBtn_open {
  background-position: center -1.77777778rem !important;
}
#nav {
  padding-top: 0.31111111rem;
}
#nav a {
  display: inline-block;
  width: 1.92592593rem;
  height: 1.3037037rem;
  background-color: #690;
  line-height: 1.3037037rem;
  text-align: center;
  color: #ccc;
  font-size: 0.62222222rem;
  border-radius: 0.11851852rem;
  margin-right: 0.22222222rem;
}
/*����������ť*/
#nav > #searchBtn {
  width: 1.92592593rem;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0.04444444rem 0.44444444rem 0 0;
  border-radius: 0.14814815rem;
}
#search {
  height: 1.52592593rem;
  padding: 0.23703704rem;
}
#search input[type='text'] {
  box-sizing: border-box;
  width: 65%;
  height: 1.52592593rem;
  background-color: #999;
  padding: 0.07407407rem 0.14814815rem;
  border: 0.01481481rem solid #5a5a5a;
  font-size: 0.60740741rem;
  color: #333;
  border-radius: 0.22222222rem;
}
#search input[type='text']:focus {
  background-color: white;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #333;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #333;
}
/*������ť*/
#search input[type="submit"] {
  float: right;
  width: 3.00740741rem;
  height: 1.52592593rem;
  background: #414040;
  color: #fff;
  font-size: 0.60740741rem;
  border-radius: 0.22222222rem;
}
/*�۵���������*/
/*���Զ�λ,topֵ*/
#mask {
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 2rem;
  padding: 0.14814815rem 0;
  border-top: 0.01481481rem solid #6a6a6a;
  background: rgba(0, 0, 0, 0.8);
}
/*�˵�li��ǩ*/
#mask li {
  float: left;
  width: 22.5%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}
#mask li a {
  color: #ffffff;
}
#content {
  padding-top: 4rem;
}
/*��ҳ������*/
#navs {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.62222222rem;
  padding: 0.45925926rem 0 0.20740741rem 0;
}
#navsList {
  float: left;
  white-space: nowrap;
}
#navsList li {
  display: inline-block;
  height: 1.91111111rem;
  line-height: 1.91111111rem;
  padding: 0 0.56296296rem;
  font-size: 1rem;
}
#navsList li a {
  color: #020202;
}
/*���������ʱ���״̬*/
#navsList li.active {
  background: #669900;
}
#navsList li.active a {
  color: #ffffff;
}
/*�ֲ�ͼ��ʽ*/
.banner_wrap {
  position: relative;
  height: 368px;
}
.banner_list {
  width: 500%;
  position: absolute;
}
.banner_list li {
  float: left;
  width: 20%;
}
.banner_list li img {
  width: 100%;
}
/*�²��֣�СԲ��*/
#banner_navs {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 10px;
  line-height: 10px;
  text-align: center;
}
#banner_navs span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}
/*Բ�㱻ѡ��*/
#banner_navs .active {
  background: red;
}
/*�����ݲ���*/
.tab {
  width: 15.4962963rem;
  background-color: white;
  padding: 0 0.2962963rem;
  margin: 0 auto;
}
.tab_header {
  height: 2rem;
  line-height: 2rem;
}
.tab_header h2 {
  font-size: 24px;
}
.tab_header a {
  font-size: 12px;
  color: #333333;
}
/*�������ַ��ർ��*/
.tab_nav {
  position: relative;
  height: 1.55555556rem;
  line-height: 1.55555556rem;
}
.tab_nav a {
  float: left;
  width: 1.77777778rem;
  height: 1.55555556rem;
  font-size: 0.65185185rem;
}
/*��ɫ������*/
.tab_nav span {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 1.77777778rem;
  height: 3 / px;
  background: #669900;
}
