/*最新文章*/
a:hover {
 color: #f60;
 text-decoration: none;
}
/*关注我二维码展示*/
.mecode{

    width: 385px;
}

.mecode>h3{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
}


.mecode>img{
    width: 284px;
    margin: 20px 0;
    margin-left: 50px;
}

/*友情链接*/
.friend_link{
    margin-top: 10px;
}

/*阅读更多*/
.readmore{
    float: right;
}
