<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <!--css-->
    <link rel="stylesheet" href="css/base.css" type="text/css">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <link rel="stylesheet" href="css/bloglists.css" type="text/css">
</head>
<body>

<!--文章导航部分-->
<!--与首页样式一样-->
<div class="container">
    <!--头部：logo与导航栏-->
    <div class="toplogo">
         <div class="middle_box clear-float">
            <div class="logo fl">
                <a href="#">
                    <img src="images/header/lufei.png">
                    <img src="images/header/logo1.png">
                </a>
            </div>
            <!--导航栏-->
            <div class="topnav fr">
                <ul class="clear-float">
                    <li >
                        <a href="#">
                            首页
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            文章
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            相册
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            心情
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            留言
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           关于我
                        </a>
                    </li>
                </ul>


            </div>

        </div>
    </div>

    <!--最新文章列表-->
    <!--文章主体内容-->
<div class="content">
    <div class="middle_box">
        <div class="article_recommended clear-float">
            <div class="article_left fl">
                <div class="article_title">
                    <h2>最新文章</h2>
                </div>
                <div class="article_lists">
                    <div class="item clear-float">
                        <div class="img_left fl">
                            <img src="images/03.jpg">
                        </div>
                        <div class="article_text fr">
                            <h3><a href="#">住在手机里的朋友</a></h3>
                            <p><a href="#">通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊 ...</a></p>
                            <div class="little_tag">
                                <span class="person_blog">
                                    <a href="#">个人博客</a>
                                </span>
                                <span class="dtime">20180502</span>

                                <a href="#"><span class="readmore">阅读更多>></span></a>
                            </div>
                        </div>
                    </div>
                     <div class="item clear-float">
                        <div class="img_left fl">
                            <img src="images/03.jpg">
                        </div>
                        <div class="article_text fr">
                            <h3><a href="#">住在手机里的朋友</a></h3>
                            <p><a href="#">通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊 ...</a></p>
                            <div class="little_tag">
                                <span class="person_blog">
                                    <a href="#">个人博客</a>
                                </span>
                                <span class="dtime">20180502</span>
                                <a href="#"><span class="readmore">阅读更多>></span></a>
                            </div>
                        </div>
                    </div>
                     <div class="item clear-float">
                        <div class="img_left fl">
                            <img src="images/03.jpg">
                        </div>
                        <div class="article_text fr">
                            <h3><a href="#">住在手机里的朋友</a></h3>
                            <p><a href="#">通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊 ...</a></p>
                            <div class="little_tag">
                                <span class="person_blog">
                                    <a href="#">个人博客</a>
                                </span>
                                <span class="dtime">20180502</span>
                                 <a href="#"><span class="readmore">阅读更多>></span></a>
                            </div>
                        </div>
                    </div>
                     <div class="item clear-float">
                        <div class="img_left fl">
                            <img src="images/03.jpg">
                        </div>
                        <div class="article_text fr">
                            <h3><a href="#">住在手机里的朋友</a></h3>
                            <p><a href="#">通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊 ...</a></p>
                            <div class="little_tag">
                                <span class="person_blog">
                                    <a href="#">个人博客</a>
                                </span>
                                <span class="dtime">20180502</span>
                              <a href="#"><span class="readmore">阅读更多>></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="item clear-float">
                        <div class="img_left fl">
                            <img src="images/03.jpg">
                        </div>
                        <div class="article_text fr">
                            <h3><a href="#">住在手机里的朋友</a></h3>
                            <p><a href="#">通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊 ...</a></p>
                            <div class="little_tag">
                                <span class="person_blog">
                                    <a href="#">个人博客</a>
                                </span>
                                <span class="dtime">20180502</span>
                                 <a href="#"><span class="readmore">阅读更多>></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article_right fr">


                <!--关注我：二维码展示-->
                <div class="mecode">
                    <h3>关注与联系</h3>
                    <img src="images/payme.png">
                </div>
                <!--点击排行-->
                <div class="click_list">
                    <ul class="click_title clear-float">
                        <li class="cur"><a href="#">点击排行</a></li>
                        <li ><a href="#">最新文章</a></li>
                        <li ><a href="#">博主推荐</a></li>
                    </ul>
                    <div class="click_main">
                        <div class="item_text show">
                            <ul >
                                <li><a href="#">点击排行</a></li>
                                <li><a href="#">教你如何用欠费手机打电话</a></li>
                                <li><a href="#">你面对的是生活不是手机</a></li>
                            </ul>
                        </div>
                        <div class="item_text">
                            <ul>
                                <li><a href="#">最新文章</a></li>
                                <li><a href="#">教你如何用欠费手机打电话</a></li>
                                <li><a href="#">你面对的是生活不是手机</a></li>
                            </ul>
                        </div>
                        <div class="item_text">
                            <ul>
                                <li><a href="#">站长推荐</a></li>
                                <li><a href="#">教你如何用欠费手机打电话</a></li>
                                <li><a href="#">你面对的是生活不是手机</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--友情链接-->
                <div class="friend_link">
                    <h3>友情链接</h3>
                    <ul class="clear-float">
                        <li><a href="/">蜗牛曹个人博客</a></li>
                        <li><a href="/">web开发</a></li>
                        <li><a href="/">前端设计</a></li>
                        <li><a href="/">Html</a></li>
                        <li><a href="/">CSS3</a></li>
                        <li><a href="/">Html5+css3</a></li>
                        <li><a href="/">百度</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

</div>

    <!--文章页脚部分-->
<div class="footer">
        <p>蜗牛曹的个人博客 Design By CxueweiSmile</p>
</div>
</body>
</html>