{% include 'header.html' %}

     <!--css-->

    <link rel="stylesheet" href="{{ static_url('css/pace.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/custom.css') }}">

    <link rel="stylesheet"  href="{{static_url('css/bloglists.css')}}" type="text/css">

    <link rel="stylesheet"  href="{{static_url('css/basic.css')}}" type="text/css">
    <link rel="stylesheet"  href="{{static_url('css/articledetail.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ static_url('css/pace.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/markdown/github.css')}}" type="text/css">

</head>


<body>

<!--文章导航部分-->
<!--与首页样式一样-->
<div class="container">
    <!--头部：logo与导航栏-->
    <div class="toplogo">
         <div class="middle_box clear-float">
            <div class="logo fl">
                <a href="/index">

                    <img  src="{{static_url('images/header/lufei.png')}}">
                    <img  src="{{static_url('images/header/logo1.png')}}">
                </a>
            </div>
            <!--导航栏-->
          <div class="topnav fr">
                <ul id="topnav" class="clear-float">
                    <li >
                        <a href="/index">
                            首页
                        </a>
                    </li>
                    <li class="active">
                        <a href="/blog/article">
                            文章
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            相册
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            心情
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            留言
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           关于我
                        </a>
                    </li>
                </ul>


            </div>

        </div>
    </div>

    <!--最新文章列表-->
    <!--文章主体内容-->
<div class="content">
    <div class="middle_box">
        <div class="article_recommended clear-float">
            <div class="article_left fl">


                <content>
                    {% block body%}{% end %}
                </content>





            </div>
            <div class="article_right fr">


                <!--关注我：二维码展示-->
                <div class="mecode">
                    <h3>关注与联系</h3>
                    <img src="{{static_url('images/payme.jpg')}}">

                </div>
                <!--点击排行-->

   <!--<div class="click_list">-->
        <!--<ul class="click_title clear-float">-->
            <!--<li class="cur"><a href="#">点击排行</a></li>-->
            <!--<li ><a href="#">最新文章</a></li>-->
            <!--<li ><a href="#">博主推荐</a></li>-->
        <!--</ul>-->

        <!--<div class="click_main">-->

            <!--<div class="item_text show">-->
                <!--<ul >-->
                    <!--{%  for click in click_sorted %}-->
                    <!--<li><a href="/blog/detail?blog_id={{click['id']}}">{{click['title']}}</a></li>-->
                   <!--{% end %}-->
                <!--</ul>-->
            <!--</div>-->

            <!--<div class="item_text">-->
                <!--<ul>-->
                    <!--{% for latest in latest_sorted %}-->
                    <!--<li><a href="/blog/detail?blog_id={{latest['id']}}">{{latest['title']}}</a></li>-->
                    <!--{% end %}-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="item_text">-->
                <!--<ul>-->
                    <!--{% for author in author_sorted %}-->
                    <!--<li><a href="/blog/detail?blog_id={{author['id']}}">{{author['title']}}</a></li>-->
                    <!--{% end %}-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
<!--</div>-->
                     {% include 'right_side.html' %}

                <!--友情链接-->
                <div class="friend_link">
                    <h3>友情链接</h3>
                    <ul class="clear-float">
                        <li><a href="/">蜗牛曹个人博客</a></li>
                        <li><a href="/">web开发</a></li>
                        <li><a href="/">前端设计</a></li>
                        <li><a href="/">Html</a></li>
                        <li><a href="/">CSS3</a></li>
                        <li><a href="/">Html5+css3</a></li>
                        <li><a href="/">百度</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>


<div class="clearfix">
</div>

<script>
    //获取元素
    var navli = $("#topnav li");
    var titleli = $(".click_title li");
    var click_main = $(".click_main").children()

    //防止闭包
    for(var i =0; i< navli.length ; i++){

        navTop(i);
    }

    for (var j =0; j< titleli.length; j++){
        changeTitle(j);
    }


    //导航栏设计
    function navTop(i) {
        navli[i].onclick = function () {
            //清除其他元素
              $(this).siblings("li").removeClass("active");
                $(this).addClass("active")
            //自己active状态
        }
    }

    //点击排行榜设计

    function changeTitle(j) {
        titleli[j].onmousemove = function () {
            $(this).siblings("li").removeClass("cur")
             $(this).addClass("cur")
                for(var k =0 ; k < click_main.length ; k ++){
                    click_main[k].className ="item_text "
                }
            click_main[j].className = "item_text show"
        }
    }

</script>


</div>

    <!--文章页脚部分-->
<div class="footer">
        <p>蜗牛曹的个人博客 Design By CxueweiSmile</p>
</div>
</body>
</html>